@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<style>

    .bg {
        background-color: #ededed;
    }
</style>

<div class="sidebar fixed-top">
    <NavMenu />

</div>

<div class="main Page-Margin bg">


    <div class="top-row px-4 fixed-top">
        おかえりなさいませ。 
        
        @if(true == NetworkState)
        {
        <div>サーバーステータス：接続</div>
        } else
        {
        <div>サーバーステータス：未接続</div>
        }
    </div>

    <div class="content px-4 Bg_Color">
        @Body
    </div>
</div>
