<style>
    .box {
        transition: all 300ms 0s ease;
    }

    .active {
        transform: translateY(300px);
    }
</style>



<div class="top-row pl-4 navbar navbar-dark ">
    <a class="navbar-brand" href="">新聞モバイルシステム</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



@*<div class="box @NavMenuTogle" @onclick="ToggleNavMenu">*@

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ホーム
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="MainFragment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 入止表
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="KakoFragment">
                <span class="oi oi-document" aria-hidden="true"></span> 過去台帳
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SelJunroActivity">
                <span class="oi oi-people" aria-hidden="true"></span> 配達読者台帳
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="KansaSearchFragment">
                <span class="oi oi-eye" aria-hidden="true"></span> 監査
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Login">
                <span class="oi oi-power-standby" aria-hidden="true"></span> ログアウト
            </NavLink>
        </li>

    </ul>
</div>
@*</div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string NavMenuTogle => collapseNavMenu ? null : "active";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
