
@page "/Kansa/KansaParent"
@inject IJSRuntime jsRuntime
@using B2003C4.Client.Data;
@using B2003C4.Client.Pages.Common;


<h3>KansaParent</h3>

@formDataModel.PhaseNo

@code {
    [JSInvokable]
    public Task<string> GetHelloMessage1()
    {
        var message = "Hello from a C# instance";
        return Task.FromResult(message);
    }

    [JSInvokable("GetHelloMessage")]
    public static Task GetHelloMessage()
    {
        var message = "Hello from C#";
        return Task.FromResult(message);
    }
}
@*https://chrissainty.com/using-javascript-interop-in-razor-components-and-blazor/*@










@switch (formDataModel.PhaseNo)
{
    case 0:
        goto default;

    case 1:
        <KansaSearchFragment @bind-Phase1Data="formDataModel" @bind-DBSourceData="DBData" />
        break;

    case 2:
        <SearchActivity @bind-Phase2Data="formDataModel" @bind-SearchResultData="ResultData" @bind-DBSourceData="DBData" />
        break;

    case 3:
        <DokusyaActivity @bind-CommonPhase1="ResultData" @bind-DBSourceData="DBData" />
        break;


    default:

        <div>ハンドリングエラー:存在しないページ（PhaseNo:@formDataModel.S_PhoneNo )</div>
        break;

}

@URLParam
@formDataModel.ToString()

@*public EventCallback<string> PageNameChanged { get; set; }で変えた際はyearも変わる*@


@code {
    private FormSearchDataModel formDataModel = new FormSearchDataModel();
    private DummyDataModel DBData = new DummyDataModel();
    private FormSearchDataModel ResultData = new FormSearchDataModel();
}


