<!--一部海老沼が仮で作っていますｶﾘｶﾘ　129行-->

@page "/Common/Meet"



<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="Shift-JIS" />
    <meta http-equiv="content-language" content="ja" />
    <meta name="google" content="notranslate" />

    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/app.css" />

    <style>
        @* bootstrapのスタイルを上書き *@ @* (ヘッダー下の空白を無くす) *@
        .mb-3 { margin-bottom: 0.5rem; }

        @* _Layoutの背景色等を上書き *@
        .BackGr {
            background: #80989b;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
        }
        @*
        table {
            border: solid;

        }
        tr {
            border: solid;
        }
        td {
            border: solid;
            border-width: 2px;

        }
        *@

        .td_padding_Fixed{
            padding: 0%;
        }
        .td_Card_Fix {
            margin-right: calc(50% - 50vw);
            margin-left: calc(50% - 50vw);
        }

        .Scroll_Control{

            height: 13rem;
            overflow:auto

        }

        .Card_child {
            position: absolute;
            bottom: 13rem;

        }
        .Button_Child{
            position: absolute;
            top: 0%;
            right: 0%;

        }

        .px-4{
            padding-top
        }

        .section {
            margin-right: calc(50% - 50vw);
            margin-left: calc(50% - 50vw);
        }

        .Button_up_Fixed {
            height: 9.5rem;
            margin: 15% 0% 1.5%;
            font-size: 2.5rem;
        }
        .Button_Fixed {
            height: 9.5rem;
            margin: 1.5% 0% 1.5%;
            font-size: 2.5rem;
        }

        .Button_bottom_Fixed {
            height: 9.5rem;
            margin: 1.5% 0% 15%;
            font-size: 2.5rem;
        }



        .box {


            transition: all 300ms 0s ease;
        }

        .active {
            transform: translateX(101%);

        }


        .divX {
            width: 100px;
            height: 100px;
            background: red;
            transition: width 2s;
        }

            .divX:hover {
                width: 300px;
            }

            .overflow_Table{
                overflow: hidden
            }

    </style>


</head>

<body>
    <!--デモ用に海老沼が仮で作りましたｶﾘｶﾘ-->
    <div class="Card_parent">
        <div>
            <table class="Card_table_Fixed overflow_Table">
                <tr>
                    @if (PhaseNo == 0)
                    {
                    <td  class="box @Ani_F td_Card_Fix">
                        <table class="Card_table_Fixed">
                            <tr>
                                <td>
                                    <button @onclick="@(s => Phase(1))" class="btn  btn-primary btn-block Button_up_Fixed">会えた</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button class="btn btn-danger btn-block Button_bottom_Fixed">会えなかった</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                    }
                    else if (PhaseNo == 1)
                    {
                        

                        Ani_F = null;

                    <td class="box @Ani_F td_Card_Fix">
                        <table class="Card_table_Fixed">
                            <tr>
                                <td>
                                    <button @onclick="@(s => Phase(2))" class="btn btn-primary btn-block Button_up_Fixed">契約</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button class="btn btn-warning btn-block Button_Fixed">保留</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button class="btn btn-danger btn-block Button_bottom_Fixed">完止め</button>
                                </td>
                            </tr>
                        </table>
                    </td>
                        

                    }
                    else if (PhaseNo == 2)
                    {

                        <td class="box @Ani_F td_Card_Fix">
                            <table class="Card_table_Fixed">
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-block Button_up_Fixed">縛り</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <button class="btn btn-success btn-block Button_Fixed">先起し</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <button class="btn btn-secondary btn-block Button_bottom_Fixed">その他</button>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    }


                </tr>

            </table>

        </div>
    </div>
   
    @*アニメーションの参考

        <div class="box @Ani_F"></div>


        <input @onclick="Ani" class="button" type="button" value="要素を動かす">


        <h1>The transition Property</h1>

        <p>Hover over the div element below, to see the transition effect:</p>
        <div class="divX"></div>

        <p><b>Note:</b> This example does not work in Internet Explorer 9 and earlier versions.</p>

    *@


</body>
</html>


@code {

    public int PhaseNo;


    public static string Ani_F ;

    public int i;

    public void Ani()
    {
        if (i == 1)
        {
            Ani_F = null;
            i = 0;
        }
        else if (i == 0)
        {
            Ani_F = "active";
            i=0;
        }

    }

    protected override async Task OnInitializedAsync()
    {


        await Task.Delay(0);
    }

    public void Phase(int phaseNo)
    {
        PhaseNo = phaseNo;

        if (i == 1)
        {
            Ani_F = null ;
            i = 0;
        }
        else if (i == 0)
        {
            Ani_F = "active";
            i = 1;
        }


    }

    //参考
    bool Rotate;
    bool Disabled;

    
    string CssClass()
    {
        var cssClass = new List<string>();
        if (this.Rotate) cssClass.Add("rotate");
        if (this.Disabled) cssClass.Add("disabled");
        return string.Join(' ', cssClass);
    }

}