<h3>IriTomeParent</h3>

@inject IJSRuntime jsRuntime
@using B2003C4.Data;
@using B2003C4.Pages.Common;

@*https://chrissainty.com/using-javascript-interop-in-razor-components-and-blazor/*@

@switch (CurrentPage.PhaseNo)
{
    case 0:
        goto default;

    case 1:
        <MainFragment @bind-Phase1Data="CurrentPage" @bind-DBSourceData="DBData" @bind-SearchResultData="ResultData" />
        goto End;

    case 2:
        <DokusyaActivity @bind-CommonPhase1="CurrentPage" @bind-DBSourceData="DBData" @bind-KoudokuList="KoudokuList" />
        goto End;

    End:
        break;


    default:
        <div>ハンドリングエラー:存在しないページ（PhaseNo:@CurrentPage.S_PhoneNo )</div>
        break;

}

<button @onclick="Debug">デバッグ用</button>

@foreach(var x in DebugText)
{
    <div>@x</div>
}


@*public EventCallback<string> PageNameChanged { get; set; }で変えた際はyearも変わる*@

@code {
    //private FormSearchDataModel formDataModel = new FormSearchDataModel();
    private DummyDataModel DBData = new DummyDataModel(); //読者リストのDummyデータ
    private KoudokuDummyData KoudokuList = new KoudokuDummyData(); //購読リストのDummyデータ
    private FormSearchDataModel ResultData = new FormSearchDataModel();

}

