
@page "/Kansa/KansaParent"
@inject IJSRuntime jsRuntime
@using B2003C4.Data;
@using B2003C4.Pages.Common;


<h3>KansaParent</h3>

@code {
    @*
        [JSInvokable]
        public Task<string> GetHelloMessage1()
        {
            var message = "Hello from a C# instance";
            return Task.FromResult(message);
        }

        [JSInvokable("GetHelloMessage")]
        public static Task GetHelloMessage()
        {
            var message = "Hello from C#";
            return Task.FromResult(message);
        }
    *@
}
@*https://chrissainty.com/using-javascript-interop-in-razor-components-and-blazor/*@


@if (CurrentPage.State)
{
    Rewrite();
}

@switch (formDataModel.PhaseNo)
{
    case 0:
        goto default;

    case 1:
        <KansaSearchFragment @bind-Phase1Data="formDataModel" @bind-DBSourceData="DBData" @bind-SearchResultData="ResultData" />
        goto End;

    case 2:
        <SearchActivity @bind-Phase2Data="formDataModel" @bind-SearchResultData="ResultData" @bind-DBSourceData="DBData" />
        goto End;

    case 3:
        <DokusyaActivity @bind-CommonPhase1="ResultData" @bind-DBSourceData="DBData" />
        goto End;



    End:
        write();
        break;


    default:

        <div>ハンドリングエラー:存在しないページ（PhaseNo:@formDataModel.S_PhoneNo )</div>
        break;

}



@*public EventCallback<string> PageNameChanged { get; set; }で変えた際はyearも変わる*@


@code {
    private FormSearchDataModel formDataModel = new FormSearchDataModel();
    private DummyDataModel DBData = new DummyDataModel();
    private KoudokuDummyData KoudokuDBData = new KoudokuDummyData();
    private FormSearchDataModel ResultData = new FormSearchDataModel();
}


