
@page "/Kansa/KansaParent"
@inject IJSRuntime jsRuntime
@using B2003C4.Data;
@using B2003C4.Pages.Common;


@code {
    @*
        [JSInvokable]
        public Task<string> GetHelloMessage1()
        {
            var message = "Hello from a C# instance";
            return Task.FromResult(message);
        }

        [JSInvokable("GetHelloMessage")]
        public static Task GetHelloMessage()
        {
            var message = "Hello from C#";
            return Task.FromResult(message);
        }
    *@
}
@*https://chrissainty.com/using-javascript-interop-in-razor-components-and-blazor/*@


@switch (CurrentPage.PhaseNo)
{
    case 0:
        goto default;

    case 1:
            <KansaSearchFragment @bind-Phase1Data="CurrentPage" @bind-DBSourceData="DBData" @bind-C_KuikiList="P_KuikiList" />

        goto End;

    case 2:
        <SearchActivity @bind-Phase2Data="CurrentPage" @bind-DBSourceData="DBData" @bind-C_DokusyaList="P_DokusyaList" />
        goto End;

    case 11:
        <DokusyaActivity @bind-CommonPhase1="CurrentPage" @bind-DBSourceData="DBData" />
        //@bind-KoudokuList="KoudokuDBData"/>
        goto End;

    case 12:
        <MeihanActivity @bind-CommonPhase2="CurrentPage" />

        End:
            break;


        default:

            <div>ハンドリングエラー:存在しないページ（PhaseNo:@CurrentPage.S_PhoneNo )</div>
            break;

    }

    @if(CurrentPage.LoadingState != true)
    {
        CurrentPage.LoadingState = true;
        CurrentPageChanged.InvokeAsync(CurrentPage);
    }



@*public EventCallback<string> PageNameChanged { get; set; }で変えた際はyearも変わる*@


@code {

    private DummyDataModel DBData = new DummyDataModel();
    //private KoudokuDummyData KoudokuDBData = new KoudokuDummyData();
    private FormSearchDataModel ResultData = new FormSearchDataModel();

    private List<Dokusya_K95080> P_DokusyaList = new List<Dokusya_K95080>();
    private List<Koudoku_K95080> P_KoudokuList = new List<Koudoku_K95080>();
    private List<Kuiki_K95080> P_KuikiList = new List<Kuiki_K95080>();
    private List<Nengetu_K95080> P_NengetuList = new List<Nengetu_K95080>();
    private List<Kakuzai_K95080> P_KakuzaiList = new List<Kakuzai_K95080>();

}


