@inject IJSRuntime jsRuntime
@using B2003C4.Data;
@using B2003C4.Pages.Common;


@*https://chrissainty.com/using-javascript-interop-in-razor-components-and-blazor/*@

@switch (CurrentPage.PhaseNo)
{
    case 0:

        <MatProgressCircle Indeterminate="true" FourColored="true" />
        goto End;

    case 1:

        if (P_TomeList.Count == 0 || P_KuikiList.Count == 0)
        {
            goto case 0;
        }


        <KakoFragment @bind-Phase1Data="CurrentPage" @bind-DBSourceData="DBData" @bind-C_TomeList="P_TomeList" @bind-C_KuikiList="P_KuikiList" />
        goto End;

    case 11:

        @if (P_DokusyaList.Count == 0 || P_KoudokuList.Count == 0)
        {
            <MatProgressCircle Indeterminate="true" FourColored="true" />

        }
        else
        {
            var x = P_DokusyaList.Cast<Dokusya_K95010>().ToList();
            var y = P_KoudokuList.Cast<Koudoku_K95010>().ToList();
            <DokusyaActivity @bind-CommonPhase1="CurrentPage" @bind-DBSourceData="DBData" @bind-C_DokusyaList="x" @bind-C_KoudokuList="y" />
        }

        goto End;

    case 12:
        @if (P_DokusyaList.Count == 0 || P_KoudokuList.Count == 0)
        {
            <MatProgressCircle Indeterminate="true" FourColored="true" />

        }
        else
        {
            var x = P_DokusyaList.Cast<Dokusya_K95010>().ToList();
            var y = P_KoudokuList.Cast<Koudoku_K95010>().ToList();
            var z = P_KakuzaiList.Cast<Kakuzai_K95010>().ToList();
            <MeihanActivity @bind-CommonPhase2="CurrentPage" @bind-C_DokusyaList="x" @bind-C_KoudokuList="y" @bind-C_KakuzaiList="z"  />
        }
        @* @bind-DBSourceData="DBData" @bind-KoudokuList="KoudokuDummyData" />*@

        End:
            break;

        default:
            <div>ハンドリングエラー:存在しないページ（PhaseNo:@CurrentPage.PhaseNo )</div>
            break;
    }

@*public EventCallback<string> PageNameChanged { get; set; }で変えた際はyearも変わる*@


@code {
    private DummyDataModel DBData = new DummyDataModel();
    //private KoudokuDummyData KoudokuDummyData = new KoudokuDummyData();
    private FormSearchDataModel ResultData = new FormSearchDataModel();

    private List<Dokusya_K95020> P_DokusyaList = new List<Dokusya_K95020>();
    private List<Koudoku_K95020> P_KoudokuList = new List<Koudoku_K95020>();
    private List<Tome_K95020> P_TomeList = new List<Tome_K95020>();
    private List<Kuiki_K95020> P_KuikiList = new List<Kuiki_K95020>();
    private List<Nengetu_K95020> P_NengetuList = new List<Nengetu_K95020>();
    private List<Kakuzai_K95020> P_KakuzaiList = new List<Kakuzai_K95020>();




}

